<div>
<!--&lt;!&ndash; header &ndash;&gt;-->
	<header class="sign_in-header wider-header">
		<h1>Smuggler<br class="visible-xs"><span class="text-primary">number</span></h1>
	</header>

<!-- 1,2,3 header steps -->
	<div class="row steps">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="step-block">
				<div class="text-primary step"><span class="number">1</span> Create Account</div>
			</div>
			<div class="step-block">
				<div class="step text-muted "><span class="number">2</span> Set Stay Preferences</div>
			</div>
			<div class="step-block">
				<div class="text-muted "><span class="number ">3</span> Stay Connected</div>
			</div>
		</div>
	</div