<!-- header -->
	<header class="sign_in-header wider-header">
		<h1>Hi,<span>Rebeca Smith</span></h1>
	</header>

<!-- 1,2,3 header steps -->
	<div class="row steps">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="step-block">
				<a ui-sref="myproject.create-account-1" class="unstyled-link">
					<div class="text-default">
						<a href="#" class="unstyled-link text-default">My Karma</a>
					</div>
				</a>
			</div><br class="visible-xs">
			
			<div class="step-block">
				<div class="text-muted">
					<a href="#" class="unstyled-link text-muted">My Stays</a>
				</div>
			</div><br class="visible-xs">

			<div class="step-block">
				<div class="text-muted ">
					<a href="#" class="unstyled-link text-muted">Reward + Benefits</a>
				</div>
			</div>

			<div class="step-block">
				<div class="text-muted ">
					<a href="#" class="unstyled-link text-muted">Messages</a>
				</div>
			</div>

			<div class="step-block">
				<div class="text-muted ">
					<a href="#" class="unstyled-link text-muted">My Profile</a>
				</div>
			</div>


		</div>	
	</div>

	<div class="row bg-dark text-default" style="padding-top: 40px;">
		<div class="col-lg-4" style="padding:50px;">
			<h2>Rebeca Smith</h2>
			<p style="font-size:16px"><strong>Smuggler ID: </strong>200713676</p>
			<p style="font-size:16px"><strong>Smuggler Tier: </strong>1</p>
<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:16px; background-color: rgb(204, 152, 3); padding:10px; color:black">Edit Profile</a>
				<a href="#" class="unstyled-link" style="font-size:16px; background-color: rgb(204, 152, 3); padding:10px;  margin-left:10px; color:black">Logout</a>
			</div>
<!-- menu dashboard -->			
			<p style="font-size:18px;border-bottom: 1px solid gray;border-top: 1px solid gray; padding: 30px 0 20px 0; margin-top: 50px;"><a href="#" class="unstyled-link text-muted">Manage my reservations</a></p>	
			<p style="font-size:18px;border-bottom: 1px solid gray; padding: 20px 0;"><a href="#" class="unstyled-link text-muted">See My Rewards</a></p>
			<p style="font-size:18px;border-bottom: 1px solid gray; padding: 20px 0;"><a href="#" class="unstyled-link text-muted">Edit My Preferences</a></p>
		</div>
		<div class="col-lg-3" style="background-image:url(../../images/temp_offer_exclusive.jpg); height: 400px;  margin-top: 80px;">
		 <h2 style="position: relative; bottom:0; text-align:center"><a href="#" class="unstyled-link text-default">Exclusive Offers</a></h2>
		 <p style="text-align:center" class="text-uppercase">For Smuggler Rewards members</p>
		</div>
		<div class="col-lg-3 col-lg-offset-1" style="margin-top:80px;background-color:white; height:400px;" class="bg-white text-muted">
			<h4 class="text-muted" style="text-align:center; border-bottom:3px solid #F3E524; padding: 15px 0; background-color:black; margin:0 -15px 20px -15px;">MESSAGES</h4>
			<p style="color:black">Welcome to Smuggler Number!</p>
			<p class="text-muted" style="border-bottom:1px solid gray"><i>May 24, 2016</i></p>
			<p style="color:black">Sharing is Caring</p>  
			<p class="text-muted" style="border-bottom:1px solid gray"><i>May 24, 2016</i></p>

		</div>
	</div>

	<div class="row bg-dark text-default">
		<div class="col-lg-4" style="padding:50px;">
			<h2 style="text-align: center">My Reservations</h2>
			<p style="text-align: center">You don't have reservations</p>
			<div class="btn btn-primary text-uppercase">
				<a href="#" class="unstyled-link text-default">Make a new reservation</a>
			</div>
		</div>
		
	</div>