<!-- header -->
	<header class="sign_in-header wider-header">
		<h1>Hi,<span>Rebeca Smith</span></h1>
	</header>

<!-- header sub menu steps -->
	<div class="row steps">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="step-block">
				<a ui-sref="myproject.create-account-1" class="unstyled-link">
					<div class="text-default">
						<a ui-sref="myproject.dashboard" class="unstyled-link text-muted">My Karma</a>
					</div>
				</a>
			</div><br class="visible-xs">
			
			<div class="step-block">
				<div class="text-muted">
					<a ui-sref='myproject.myStay' class="unstyled-link text-muted">My Stays</a>
				</div>
			</div><br class="visible-xs">

			<div class="step-block">
				<div class="text-muted ">
					<a ui-sref="myproject.rewardAndBenefits" class="unstyled-link text-muted">Reward + Benefits</a>
				</div>
			</div>

			<div class="step-block">
				<div class="text-muted ">
					<a ui-sref="myproject.messages" class="unstyled-link text-default">Messages</a>
				</div>
			</div>

			<div class="step-block">
				<div class="text-muted ">
					<a ui-sref="myproject.profile" class="unstyled-link text-muted">My Profile</a>
				</div>
			</div>


		</div>	
	</div>
	
	<div class="row bg-dark">
		<div class="col-lg-6">
		<h2 class="text-default">Messages</h2>
		</div>		
	</div>

	<div class="row bg-dark text-default" >
		<div class="col-lg-4" style="padding:20px;">
			
			<p style="font-size:16px; line-height: 30px;">Check in here regularly to see everything you need to know about your Smuggler Number.</p>
			<h3 class="text-center">More ways to stay connected:</h3>
			<ul style="list-style-type:none;">
				<li style="float:left;padding:10px;"><a href="#"><img src="../../../images/icon-fb.png"></a></li>
				<li style="float:left;padding:10px;"><a href="#"><img src="../../../images/icon-inst.png"></a></li>
				<li style="float:left;padding:10px;"><a href="#"><img src="../../../images/icon-fb.png"></a></li>
				<li style="float:left;padding:10px;"><a href="#"><img src="../../../images/icon-tw.png"></a></li>
			</ul>
		</div>

		<div class="col-lg-6 col-lg-offset-1" style="margin:20px;background-color:white; height:400px; color:black" class="bg-white text-muted">
			<h2 class="text-muted" style="text-align:center; border-bottom:3px solid #F3E524; padding: 15px 0; background-color:black; margin:0 -15px 20px -15px;">MESSAGES</h2>
			<h4>Welcome to Smuggler Number Rewards</h4>
			<p style="color:black">Welcome to Smuggler Number! Good Smuggler Karma kicks in and just keeps getting better. See what's in store for you when staying at our hotels and visiting our restaurants and bars.</p>
			<p class="text-muted" style="border-bottom:1px solid gray"><i>May 24, 2016</i></p>
			<h4>Sharing is Caring</h4>
			<p style="color:black">And we like that about you. Because the better we know you, the easier it is to spoil you. Thanks for filling out your Kimpton Karma Rewards profile</p>  
			<p class="text-muted" style="border-bottom:1px solid gray"><i>May 24, 2016</i></p>
			<a href="#" class="unstyled-link">
			<div style="width:50%; background-color: black; color:#F3E524; padding:10px;margin:0 auto;">
				<h5 class="text-center">Show more</h5>
			</div>
			</a>

		</div>
	</div>
