<!-- header -->
	<header class="sign_in-header wider-header">
		<h1>Hi,<span>Rebeca Smith</span></h1>
	</header>

<!--  header sub menu steps -->
	<div class="row steps">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="step-block">
				<a ui-sref="myproject.create-account-1" class="unstyled-link">
					<div class="text-default">
						<a ui-sref="myproject.dashboard" class="unstyled-link text-muted">My Karma</a>
					</div>
				</a>
			</div>
			
			<div class="step-block">
				<div class="text-muted">
					<a ui-sref='myproject.myStay' class="unstyled-link text-muted">My Stays</a>
				</div>
			</div><br class="visible-xs">

			<div class="step-block">
				<div class="text-muted ">
					<a ui-sref="myproject.rewardAndBenefits" class="unstyled-link text-muted">Reward + Benefits</a>
				</div>
			</div>

			<div class="step-block">
				<div class="text-muted ">
					<a ui-sref="myproject.messages" class="unstyled-link text-muted">Messages</a>
				</div>
			</div>

			<div class="step-block">
				<div class="text-muted ">
					<a ui-sref="myproject.profile" class="unstyled-link text-default">My Profile</a>
				</div>
			</div>


		</div>	
	</div>

	<div class="row bg-dark">
		<div class="col-lg-12">
		<h2 class="text-default" style="border-bottom:1px solid gray">My Account + Profile</h2>
		</div>		
	</div>

	<div class="row bg-dark text-default">

		<!-- personal info -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>Personal Information</h3>
			<p style="font-size:14px"><strong>Name: </strong>Ms.Rebeca Smith</p>
			<p style="font-size:14px"><strong>Birthday: </strong>10/10/1990</p>
			<p style="font-size:14px"><strong>Gender: </strong>Female</p>
			<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(204, 3, 71); padding:10px; color:black">Edit Personal Information</a>
			</div>

		</div>

		<!-- contact info -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>Contact Information</h3>
			<p style="font-size:14px"><strong>Address Type: </strong>Home</p>
			<p style="font-size:14px"><strong>Address: </strong>19827 SummerGlen Pl, Castro Valley, CA 94552, US</p>
			<p style="font-size:14px"><strong>Phone: </strong>1-000-000-000</p>
			<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(154, 12, 80); padding:10px; color:black">Edit Contact Information</a>
			</div>
		</div>

		<!-- my account -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>My Account</h3>
			<p style="font-size:14px"><strong>Smuggler ID: </strong>1236545</p>
			<p style="font-size:14px"><strong>Email: </strong>email@mail.com</p>
			<p style="font-size:14px"><strong>Password: </strong><a href="#" class="unstyled-link text-muted">Reset</a></p>
			<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(175, 243, 0); padding:10px; color:black">Edit 
				login Information</a>
			</div>
		</div>	
	
	</div>
	
	<!-- credit card -->
	<div class="row bg-dark text-default"  >
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>Credit Card</h3>
			<p style="font-size:14px">You have no saved credit cards.</p> 
			<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(251, 142, 36); padding:10px; color:black">Add/Edit Saved Credit Card</a>
			</div>

		</div>
		<!-- hobbies -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>My Interests</h3>
			<p style="font-size:14px"><strong>Hobbies: </strong></p>
			<ul>
				<li>Arts & Culture,</li>
				<li>Entertainment,</li>
				<li>Interior Design</li>
			</ul> 			 
			<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color:rgb(31, 157, 4); padding:10px; color:black">Add/Edit My Interests</a>
			</div>
		</div>

	</div>

	<div class="row bg-dark">
		<div class="col-lg-12">
		<h2 class="text-default" style="border-bottom:1px solid gray">My Stay Preferences</h2>
		</div>		
	</div>


	<div class="row bg-dark text-default">

		<!-- My Favorites -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>My Favorites</h3>
			<p style="font-size:14px"><strong>City: </strong>Unspecified</p>
			<p style="font-size:14px"><strong>Hotel: </strong>Unspecified</p>
			<p style="font-size:14px"><strong>Restaurant: </strong>Unspecified</p>
			<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(39, 237, 223); padding:10px; color:black">Edit My Favorites</a>
			</div>

		</div>

		<!-- my pets -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>My Pets</h3>
			<p style="font-size:14px">You can travel with pets</p>
			 
			<!-- button edit  -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(0,173,239); padding:10px; color:black">Add/Edit Saved Pets</a>
			</div>
		</div> 
	
	</div>

		<div class="row bg-dark">
		<div class="col-lg-12">
		<h2 class="text-default" style="border-bottom:1px solid gray">Communication Preferences</h2>
		</div>		
	</div>


	<div class="row bg-dark text-default">

		<!-- MY SUBSCRIPTIONS -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>MY SUBSCRIPTIONS</h3>
			<p style="font-size:14px"><strong>You are interested in:</strong></p>
			 <ul>
				<li>Member Feedback</li>
				<li>Newsletters & Account Summary</li>
				<li>Exclusive Offers</li>
				<li>Pets</li>
				<li>Healthy Travel</li>
			 </ul>
			<!-- buttons edit and logout -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(73, 196, 19); padding:10px; color:black">Add/Edit My Subscriptions</a>
			</div>

		</div>

		<!-- Stay in Touch -->
		<div class="col-lg-4 profile-block" style="padding:50px;">
			<h3>Stay in Touch</h3>
			<p style="font-size:14px"><strong>Twitter:</strong>Unspecified</p>
			<p style="font-size:14px"><strong>Pinterest:</strong>Unspecified</p>
			<p style="font-size:14px"><strong>Instagram:</strong>Unspecified</p>
			<p style="font-size:14px"><strong>Website/Blog:</strong>Unspecified</p>
			 
			<!-- button edit  -->			
			<div style="margin-top:30px;">
				<a href="#" class="unstyled-link" style="font-size:14px; background-color: rgb(246, 255, 21); padding:10px; color:black">Edit Stay in Touch</a>
			</div>
		</div> 
	
	</div>

	