<div class="bg-dark">
<!-- header -->
	<header class="wider-header" style="height: 100vh; background-image:url(../../../images/hotel-389256_960_720.jpg);">
		<h1 class="text-default text-shadow" style=" margin:50px ;margin-top: 40vh;">Smuggler number<br ><span style="color:#00dcff;">experience</span></h1>
		<h3 class="text-default text-shadow" style=" margin:50px ">A different way to stay</h3>
	</header>
	
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 search">
			<h2 class="text-muted">Where are you headed?</h2>
			<p>
				<input type="text" placeholder="Type hotel name or city" >
				<img src="../images/search-icon-md.png" width="20px" style="float:right">
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">			 
			<p class="text-default" style="line-height: 40px;">
				 You deserve a hotel as unique as you are. At Smuggler Number, customizing experiences is our passion and your requests are an invitation for us to excel. Add our bold, playful design, award-winning dining and perk-y amenities and you have the ultimate boutique hotel stay.
			</p>
			<div class="btn btn-primary text-uppercase">Browse Smuggler hotels</div>
		</div>
	</div>

	