<div class="bg-dark">
<!-- header -->
	<header class="wider-header" style="height: 100vh; background-image:url(../../../images/cookie.jpg);">
		<h1 class="text-default text-shadow" style=" margin:50px ;margin-top: 40vh;">New<br ><span style="color:#00dcff;">Hotels</span></h1>  
	</header>
	
	<div class="row">
	<div class="col-lg-4">
	<h2 class="text-default" style="padding-top: 20%">18 SMUGGLER PROPERTIES TAKE A BOW</h2>
	</div>
	<div class="col-lg-4" style="padding: 30px;">
	<h4 class="text-default">Ta-dah! It’s time for some introductions. We’re excited for you to get to know Kimpton’s bright and shiny newest, refurbished and upcoming properties. New builds. New cities. Exciting updated looks. But all with the inviting Kimpton service you love. Let the slow claps and good times begin.</h4>
	<div class="btn btn-color">Check availability</div>
	</div>
	<div class="col-lg-4">
	<h2 class="text-default">I am looking for:</h2>
	<a href="#" class="unstyled-link"><h3>New</h3></a>
	<a href="#" class="unstyled-link"><h3>Newly Renovated</h3></a>
	<a href="#" class="unstyled-link"><h3>Booking now</h3></a>
	</div>
	</div>

	<div class="row">
	<div class="col-lg-12">
	<h2 class="text-default text-center">New Hotels</h2>
	</div>
	</div>
	<div class="row">
		<div class="col-lg-6" style="padding: 25px;">
				<div class="block-image" style="height: 200px; width: 100%; background-image:url(../../../images/hotel-389256_960_720.jpg);">
					<div>
							<h3 class="text-center text-uppercase text-default text-shadow">California hotel</h3>
					</div>
				</div>
				<div style="height: 200px; width: 100%; background-color: white">
						<div class="sub-menu col-lg-4">Overview</div> 
						<div class="sub-menu col-lg-4">Amenities</div> 
						<div class="sub-menu col-lg-4">Eat + drink</div>
						<div class="col-lg-12">
								<h4>AN OCEANFRONT BEACH GETAWAY</h4>
								<p>Take in the sunset at the Huntington Beach Pier and lounge in our California classic beach getaway.</p>
								<a href="#" class="text-muted unstyled-link"><h5>HOTEL DETAILS + PHOTOS > </h5></a>
						</div>
				</div>
		</div>
			<div class="col-lg-6" style="padding: 25px;">
				<div class="block-image" style="height: 200px; width: 100%; background-image:url(../../../images/hall.jpg);">
					<div>
							<h3 class="text-center text-uppercase text-default text-shadow">Arizona hotel</h3>
					</div>
				</div>
				<div style="height: 200px; width: 100%; background-color: white">
						<div class="sub-menu col-lg-4">Overview</div> 
						<div class="sub-menu col-lg-4">Amenities</div> 
						<div class="sub-menu col-lg-4">Eat + drink</div>
						<div class="col-lg-12">
								<h4>AN OCEANFRONT BEACH GETAWAY</h4>
								<p>Take in the sunset at the Huntington Beach Pier and lounge in our California classic beach getaway.</p>
								<a href="#" class="text-muted unstyled-link"><h5>HOTEL DETAILS + PHOTOS > </h5></a>
						</div>
				</div>
		</div>
	</div>
