<div class="bg-dark">
<!-- header -->
	<header class="wider-header" style="height: 100vh; background-image:url(../../../images/nav_hotels.jpg);">
		<h1 class="text-default text-shadow" style=" margin:50px ;margin-top: 40vh;">Find a<br ><span style="color:#00dcff;">Smuggler Hotel</span></h1> 
	</header>
	
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 search"> 
			<p>
				<input type="text" placeholder="Select city" >
				<img src="../images/search-icon-md.png" width="20px" style="float:right">
			</p>
		</div>
		<div class="col-lg-2">
			<a href="#" class="unstyled-link"><p style="margin: 30px; color: #00dcff; font-size: 18px;">See Map <img src="../../../images/location.png" width="20px;"></p></a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 states">			 
			<h4 class="text-default">All hotels by state: <a href="#" class="text-muted">AZ</a> <a href="#" class="text-muted">CA</a> <a href="#" class="text-muted">CO</a> <a href="#" class="text-muted">DC</a> <a href="#" class="text-muted">FL</a> <a href="#" class="text-muted">GA</a> <a href="#" class="text-muted">IL</a> <a href="#" class="text-muted">MD</a> <a href="#" class="text-muted">MA</a> <a href="#" class="text-muted">MN</a> <a href="#" class="text-muted">NY</a> <a href="#" class="text-muted">NC</a> <a href="#" class="text-muted">OH</a> <a href="#" class="text-muted">OR</a> <a href="#" class="text-muted">PA</a> <a href="#" class="text-muted">TX</a> <a href="#" class="text-muted">UT</a> <a href="#" class="text-muted">VT</a> <a href="#" class="text-muted">VA</a> <a href="#" class="text-muted">WA</a> <a href="#" class="text-muted">WI</a></h4>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6" style="padding: 25px;">
				<div class="block-image" style="background-image:url(../../../images/sunset-52933_960_720.jpg); height: 400px; width: 100%">
						<div style="bottom: 25%;">
								<h2 class="text-uppercase text-default text-center" style=" line-height: 60px;">California<br>
								3 hotels</h2>						 
						</div>

				</div>
		</div>
		<div class="col-lg-6" style="padding: 25px;">
				<div class="block-image" style="height: 200px; width: 100%; background-image:url(../../../images/hotel-389256_960_720.jpg);">
					<div>
							<h3 class="text-center text-uppercase text-default text-shadow">California hotel</h3>
					</div>
				</div>
				<div style="height: 200px; width: 100%; background-color: white">
						<div class="sub-menu col-lg-4">Overview</div> 
						<div class="sub-menu col-lg-4">Amenities</div> 
						<div class="sub-menu col-lg-4">Eat + drink</div>
						<div class="col-lg-12">
								<h4>AN OCEANFRONT BEACH GETAWAY</h4>
								<p>Take in the sunset at the Huntington Beach Pier and lounge in our California classic beach getaway.</p>
								<a href="#" class="text-muted unstyled-link"><h5>HOTEL DETAILS + PHOTOS > </h5></a>
						</div>
				</div>
		</div>
	</div>

	