<div class="container">
    <nav class="navbar navbar-inverse navbar-fix"  style="padding:0;">

        <div class="navbar-header" style="background-color: #000000">
        <a class="navbar-brand" ui-sref="myproject.home" style="padding-bottom:10px;"><img src="images/logo.png" style="width:120px; margin-top:-2px;"/></a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar" ></span>
            <span class="icon-bar"></span>
        </button>

</div>

<div class="collapse navbar-collapse js-navbar-collapse" style="background-color:#000000;overflow: hidden;padding:0; width:100%">

<ul class="nav navbar-nav"> 
    <li class="dropdown mega-dropdown sliding-u-t-b w3-animate-top">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" ><span class="animate_to_bottom">DESTINATIONS</span> </a>
        <ul class="dropdown-menu mega-dropdown-menu dropdown-border ">

            <li class="col-sm-3">
                <ul class="text-muted">
                    <li class="divider"></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                    <!-- <li class="divider"></li> -->
                </ul>
            </li>
            <li class="col-sm-3">
                <ul>
                    <li class="divider"></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                </ul>
            </li>
            <li class="col-sm-3">
                <ul>
                    <li class="divider"></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                    <li><a href="#">Alexandria, VA</a></li>
                    <li><a href="#"> Austin, TX</a></li>
                    <li><a href="#">Baltimore, MD</a></li>
                    <li><a href="#">  Boston, MA</a></li>
                </ul>
            </li>
<!--             <li class="col-sm-3">
                <ul>
                    <li class="dropdown-header">Features</li>
                    <li><a href="#">Auto Carousel</a></li>
                    <li><a href="#">Carousel Control</a></li>
                    <li><a href="#">Left & Right Navigation</a></li>
                    <li><a href="#">Four Columns Grid</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Fonts</li>
                    <li><a href="#">Glyphicon</a></li>
                    <li><a href="#">Google Fonts</a></li>
                </ul>
            </li> -->
        </ul>
    </li>
    <li class="dropdown  sliding-u-t-b">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button"  ><span class="animate_to_bottom">HOTELS</span> </a>
        <ul class="dropdown-menu  dropdown-border with-divider" >
            <li style="border-bottom:1px solid gray">
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Find a Hotel</a>
            </li>
            <li>
                <a href="#">Our Newest Hotels</a>
            </li>
            <li>
                <a href="#">Special Offers + Deals</a>
            </li> 
            <li class="main_nav-sub-image-area">
                <a href="#">
                    <img src="../../images/nav_hotels.jpg" class="img-responsive" style="width:90%; margin: 0 auto;" />
                    <h4>Special Offers Across the Country</h4>
                    <p>Explore our perk-filled offers in 65 hotels, and get your Kimpton experience started.
                    </p>
                    
                </a>
            </li>

        </ul>
    </li>
    <li class="dropdown  sliding-u-t-b">
        <a  class="dropdown-toggle" data-toggle="dropdown" role="button"  ><span class="animate_to_bottom">EAT+DRINK </span></a>
        <ul class="dropdown-menu  dropdown-border with-divider">
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Find a Restaurant</a>
            </li>

            <li class="main_nav-sub-image-area">
                <a href="/dine">
                    <img src="../../images/dinner-table.jpg" class="img-responsive"/>
                    <h4>Dining Done To Perfection</h4>
                    <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                </a>
            </li>

        </ul>
    </li>
    <li class="dropdown sliding-u-t-b">
        <a  class="dropdown-toggle" data-toggle="dropdown" role="button"  ><span class="animate_to_bottom">MEETINGS+EVENTS </span></a>
        <ul class="dropdown-menu dropdown-border with-divider">
            <li>
                <a href="/meetings-and-events">Overview</a>
            </li>
            <li>
                <a href="/meetings-and-events/meetings">Meetings</a>
            </li>
            <li>
                <a href="/meetings-and-events/events">Events</a>
            </li>
            <li>
                <a href="/meetings-and-events/find-a-venue">Find a Meeting Space</a>
            </li>
            <li>
                <a href="/meetings-and-events/meeting-offers">Meeting Promotions</a>
            </li>
            <li>
                <a class="main_nav-sub-contact_book" href="/meetings-and-events/contact-and-book">Contact + Book</a>
            </li>

        </ul>
    </li>
    

    <li class="dropdown sliding-u-t-b" >
<a  class="dropdown-toggle" data-toggle="dropdown" role="button"  ><span class="animate_to_bottom">SMUGGLER REWARDS</span></a>
        <!-- <a class="dropdown-toggle pointer" data-toggle="dropdown" role="button"  >SMUGGLER REWARDS</a> -->
        <ul class="dropdown-menu dropdown-border with-divider">
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Join</a>
            </li>
             <li>
                <a href="#">Benefits</a>
            </li>
             <li>
                <a href="#">Offers & Deals</a>
            </li>
            <li>
                <a href="#">Sign in</a>
            </li>

            <li class="main_nav-sub-image-area">
                <a href="/dine">
                    <img src="../../images/accommdation.jpg" class="img-responsive"/>
                    <h4 class="txt-uppercase">Get the loyal treatment</h4>
                    <p>Enjoy exclusive offers and last-minute deals for many happy returns.</p>
                </a>
            </li>

        </ul>
    </li>


</ul>
<ul class="nav navbar-nav navbar-right" style="margin:0">
    <li class="dropdown mega-dropdown ">
         <a href="#signform" class="dropdown-toggle sign-in" data-toggle="dropdown" >SIGN IN</a>
    </li>
    <li class="dropdown mega-dropdown ">
        <a href="#" class="dropdown-toggle pentagon" data-toggle="dropdown" role="button" >BOOK NOW</a>
        
        <ul class="dropdown-menu dropdown-border with-divider" style="">
            <li>
                <a><p class="text-muted">Choose city or hotel<img class="pointer" src="http://www.webdesignicons.com/wp-content/uploads/2016/06/search-icon-hi-12452.png" width="20px" style="float:right"></p></a>
            </li>
            <li>
                <a><p class="text-muted">Select dates<img class="pointer" src="http://www.rhinebeckcsd.org/teachers/graphics/calandaricon.png" width="20px" style="float:right"></p></a>
            </li>

            <li>
                
                    <select style="width: 20%">
                        <option>1 Adult</option>
                        <option>2 Adults</option>
                        <option>3 Adults</option>
                        <option>4 Adults</option>
                    </select>
                    <select style="width:20%">
                        <option>0 Kids</option>
                        <option>1 Kid</option>
                        <option>2 Kids</option>
                        <option>3 Kids</option>
                        <option>4 Kids</option>
                    </select>
                    <select style="width:40%">
                        <option>Best Available Rate</option>
                        <option>AAA/CAA Rates</option>
                        <option>Government Rates</option>
                    </select>
                
            </li>

            <li>
                <input  class="btn btn-color" type="submit" name="" value="CHECK AVAILABILITY">
            </li>

        </ul>
        </form>
    </li>
</ul>
</div><!-- /.nav-collapse -->
</nav>
    </div>
<!--<div ui-view></div>-->
<!-- <script type="text/javascript">
    $(document).ready(function(){
        $(".dropdown").click(function(){
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
            $(this).toggleClass('open');
        },function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
            $(this).toggleClass('open');
        });
//
    });
</script> -->
<script type="text/javascript">

$(document).ready(function(){

   $(".sign-in").click(function(){
       $(".sign_in-header").scrollIntoView(true);
    });

})
</script>
